
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="login-container">
        <img src="{% static 'images/tarotifylogo.png' %}" alt="Logo" class="logo">
        <form method="post">
            {% csrf_token %}
            <div class="input-group">
                <label for="id_username">Username</label>
                <input type="text" name="username" required id="id_username">
            </div>
            <div class="input-group">
                <label for="id_password">Password</label>
                <input type="password" name="password" required id="id_password">
            </div>
            <button type="submit" class="btn">Log in</button>
        </form>
        <a href="{% url 'signup' %}" class="signup-link">Don't have an account? Sign up</a>
    </div>
</body>
</html>
